<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta author ="Angela Dowling">
    <title>Cookbook</title>
</head>
<body>
    
  <main class="main">
    <header class="header">
      <div class="logo">Logo</div>
    </header>
    
<section>
    <header><h1> Pancake Cookbook </h1></header>
   
</section>
<section>
  <form method ="POST" action"">
   Name: <input type="text" name="fname"><br>
   E-mail: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>  
</section>

    
    <section>
        <aside>
    <h2>Gingerbread Pancakes</h2>
    <h2>Servings</h2>
    <P>4 people</P>
    <h3>Time</h3>
    <P>30mins</P>
    <h4>Ingredients</h4>

     <p>2  cups/256 grams all-purpose flour
2  tablespoons dark brown sugar
1 ½  teaspoons baking powder
½  teaspoon baking soda
1  teaspoon kosher salt
2  teaspoons ground ginger
2  teaspoons ground cinnamon
½  teaspoon ground allspice
1 ¼  cups whole milk
⅓  cup unsulfured molasses (not blackstrap)
2  eggs
3  tablespoons unsalted butter, melted
1  teaspoon finely grated fresh ginger
½  teaspoon finely grated lemon zest</p>
   </section>
    
    

     <section class="section">
      <recipe class="recipe  method column column-60">
        <p class="section-paragraph-method">
       In a large bowl, whisk together flour, brown sugar, baking powder, baking soda, salt and spices.</p>
        <P>
         In a separate bowl, whisk milk, molasses, eggs, melted butter, fresh ginger and lemon zest until well combined.  
        </P>
        <P>
         Add the wet ingredients to the dry ingredients and gently stir until combined. (A few small lumps are fine.)
        </P>
        <P>
          Heat a lightly greased griddle or nonstick skillet over medium-low heat. Drop the pancakes into the pan by the quarter cup, making sure to leave plenty of room in between for the batter to expand.
  
        </P>
        <P>
          Cook until the batter bubbles on the surface and browns on the bottom, a minute or two, then carefully flip. Cook until the batter is completely cooked through and the pancakes are slightly dark brown. Repeat until all the batter is used. Serve pancakes as you make them or keep them warm as you cook them by setting them on a baking sheet in a 250-degree oven.  
        </P>
      </article>
      <aside class="aside column column-40">
        <p class="section-paragraph">
         </p>
      </aside>
    </section>
    
    <footer class="footer">
      Footer
    </footer>
  </main>
</body>
</html>