<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta author ="Angela Dowling">
    <title>Cookbook</title>
</head>
<body>
    
  <main class="main">
    <header class="header">
      <div class="logo">Logo</div>
    </header>
    
<section>
    <header><h1> Pancake Cookbook </h1></header>
   
</section>
<section>
  <form method ="POST" action"">
   Name: <input type="text" name="fname"><br>
   E-mail: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>  
</section>

    
    <section>
        <aside>
    <h2>Moroccan Pancakes</h2>
    <h2>Servings</h2>
    <P>4/6 people</P>
    <h3>Time</h3>
    <P>30mins</P>
    <h4>Ingredients</h4>

     <p>2  teaspoons (6 grams) dry yeast
½  teaspoon (2 grams) sugar
1  cup (113 grams) all-purpose flour
½  cup (70 grams) semolina flour
½  cup (100 grams) almond flour
1  teaspoon (3 grams) kosher salt
⅛  teaspoon ground turmeric (optional; for color)
2  teaspoons (9 grams) baking powder
1  cup whole milk, warmed
 Honey
 Unsalted butter</p>
   </section>
    
    

     <section class="section">
      <recipe class="recipe  method column column-60">
        <p class="section-paragraph-method">
       In a bowl, combine yeast and sugar. Stir in 1/4 cup warm water and let it rest about 10 minutes, until bubbling. In another bowl, combine the three flours, salt and turmeric (if using) and set aside.
        </p>
        <P>
      In a small bowl, combine baking powder and 3 tablespoons warm water, stirring to dissolve. Pour into a blender and add 1 1/2 cups warm water, the milk and the yeast mixture. Blend on low speed just to combine. With the blender running, gradually add the dry ingredients.
        </P>
        <P>
        Pour batter into a bowl, cover with a towel and set aside at least 1 1/2 hours, until doubled in size and very bubbly. Batter can be used immediately or refrigerated overnight.

        </P>
        <P>
           When ready to cook, stir to deflate. Batter should be a little thicker than heavy cream; thin with warm water if necessary. Heat a heavy nonstick (or very well seasoned cast-iron) skillet over medium heat. (If you have a nonstick pan for silver dollar pancakes, use that.) Pour 1/4 cup batter into the pan (or, for silver-dollar size, a heaping tablespoon). Cook at a very gentle sizzle for about 3 minutes, until the top is covered with holes and completely set; the bottom should be golden and lacy. Repeat with remaining batter. 
        </P>
        <P>
          Meanwhile, combine equal amounts of honey and butter in a small microwaveable pitcher or bowl. Heat until hot, smooth and pourable; thin with warm water if necessary.  
        </P>
        <P>
           Serve pancakes immediately, with hot honey-butter mixture. Or slide onto a baking sheet covered with a kitchen towel and top with another towel to keep warm. Cooled pancakes can be briefly reheated in microwave. 
        </P>
      </article>
      <aside class="aside column column-40">
        <p class="section-paragraph">
         </p>
      </aside>
    </section>
    
    <footer class="footer">
      Footer
    </footer>
  </main>
</body>
</html>