<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta author ="Angela Dowling">
    <title>Cookbook</title>
</head>
<body>
    
  <main class="main">
    <header class="header">
      <div class="logo">Logo</div>
    </header>
    
<section>
    <header><h1> Pancake Cookbook </h1></header>
   
</section>
<section>
  <form method ="POST" action"">
   Name: <input type="text" name="fname"><br>
   E-mail: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>  
</section>

    
    <section>
        <aside>
    <h2>Fast Scallion Pancakes</h2>
    <h2>Servings</h2>
    <P>4 people</P>
    <h3>Time</h3>
    <P>20mins</P>
    <h4>Ingredients</h4>

     <p> Salt and freshly ground black pepper
4  bunches scallions or spring onions, about 1 pound
1  egg
1  teaspoon soy sauce
½  cup flour
 Peanut, canola or olive oil as needed</p>
   </section>
    
    

     <section class="section">
      <recipe class="recipe  method column column-60">
        <p class="section-paragraph-method">
        Bring a medium pot of salted water to a boil while you trim the scallions. Roughly chop three bunches, and mince the fourth.

        </p>
        <P>
        Add the larger portion of scallions to the water, and cook about 5 minutes, or until tender. Drain, reserving about 1/2 cup of the cooking liquid. Puree the cooked scallions in a blender, adding just enough of the cooking liquid to allow the machine to do its work.
        </P>
        <P>
         Mix the puree with the egg and soy, then gently stir in the flour until blended. Add pepper to taste, then the reserved minced scallions. Film a nonstick or well-seasoned skillet with oil, and turn the heat to medium-high. Drop the batter into the pan by the tablespoon or quarter cup, and cook about 2 minutes to a side, or until lightly browned. If necessary, the pancakes can be kept warm in a 200-degree oven for about 30 minutes.
        </P>
      </article>
      <aside class="aside column column-40">
        <p class="section-paragraph">
         </p>
      </aside>
    </section>
    
    <footer class="footer">
      Footer
    </footer>
  </main>
</body>
</html>