{% extends 'base.html' %} {% block content %}
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipe %}
        <li>
            <div class="collapsible-header">

                <div class=" recipe_header col s9">
                    <i class="material-icons">expand_more</i> {{recipe.recipe_name}} 
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{recipe.recipe_description}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
    <!--loop through recipe is the collection passed back and recipes represent each entry record -->
  
 <!-- "category_name": "Home",
    "recipe_name": "Breakfast",
    "recipe_description": "lemonPancakes",
    "ingredients": "pancakemix",
    "method": "make batter",
    "additional": "add_fruit",
    "prep_time": "10_mins",
    "votes": "false",
    "due_date": "12 Jan 2018"
} -->