<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta author ="Angela Dowling">
    <title>Cookbook</title>
</head>
<body>
    
  <main class="main">
    <header class="header">
      <div class="logo">Logo</div>
    </header>
    
<section>
    <header><h1> Pancake Cookbook </h1></header>
   
</section>
<section>
  <form method ="POST" action"">
   Name: <input type="text" name="fname"><br>
   E-mail: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>  
</section>

    
    <section>
        <aside>
    <h2>Recipe</h2>
    <h2>Servings</h2>
    <P>4/6 people</P>
    <h3>Time</h3>
    <P>20mins</P>
    <h4>Ingredients</h4>

     <p>2  cups all-purpose flour
2  teaspoons baking powder
¼  teaspoon salt
1  tablespoon sugar, optional
2  eggs
1 ½ to 2  cups milk
2  tablespoons melted and cooled butter (optional), plus unmelted butter for cooking, or use neutral oil</p>
   </section>
    
    

     <section class="section">
      <recipe class="recipe  method column column-60">
        <p class="section-paragraph-method">
         Heat a griddle or large skillet over medium-low heat. In a bowl, mix together dry ingredients. Beat eggs into 1 1/2 cups milk, then stir in 2 tablespoons melted cooled butter, if using it. Gently stir this mixture into dry ingredients, mixing only enough to moisten flour; don't worry about a few lumps. If batter seems thick, add a little more milk.

        </p>
        <P>
          Place a teaspoon or 2 of butter or oil on griddle or skillet. When butter foam subsides or oil shimmers, ladle batter onto griddle or skillet, making pancakes of any size you like. Adjust heat as necessary; usually, first batch will require higher heat than subsequent batches. Flip pancakes after bubbles rise to surface and bottoms brown, after 2 to 4 minutes.  
        </P>
        <P>
          Cook until second side is lightly browned. Serve, or hold on an ovenproof plate in a 200-degree oven for up to 15 minutes.  
        </P>
      </article>
      <aside class="aside column column-40">
        <p class="section-paragraph">
         </p>
      </aside>
    </section>
    
    <footer class="footer">
      Footer
    </footer>
  </main>
</body>
</html>